In [3]:
print('Hello World')

Hello World

In [2]:
a = 7
b = 5
i = 1499

while i<2700:
    i = i+1
    
    if (i%7 == 0) and (i%5 == 0):
        print(i)

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [5]:
celsius = float(input("Enter Temperature: "))
fahrenheit =  (celsius * 9/5)+32
print ("Fahrenheit: ", fahrenheit)

Enter Temperature: 20.5
Fahrenheit:  68.9

In [6]:
fahrenheit = float(input("Enter Temperature: "))
celsius = (fahrenheit - 32) * 5/9
print("Celsius: ", celsius)

Enter Temperature: 322
Celsius:  161.11111111111111

In [1]:
n = int(input("Enter an integer number: "))

if n % 2 != 0:
    print ("OK")
else:
    if n>=2 and n<=5:
        print("Not Ok")
    elif n>=6 and n<=20:
        print("Ok")
    elif n>20:
        print("Ok")

Enter an integer number: 36
Ok

In [1]:
largest = None
smallest = None
nums = []
while True:
    num = input("Enter a number: ")
    if num == "done" : break
    nums.append(num)
    nums.sort()    
for num in nums:
    try:
        if largest is None or int(num) > largest:
            largest = int(num)
        elif smallest is None and int(num) < largest:
            smallest = int(num)
        elif int(num) < largest and int(num) < smallest:
            smallest = int(num)
    except:
        print("Invalid input")
print("Maximum is", largest)
print("Minimum is", smallest)

Enter a number: 45
Enter a number: 45
Enter a number: done
Maximum is 45
Minimum is None

In [15]:
a = int(input("Enter a starting number: "))
b = int(input("Enter a ending number: "))

Enter a starting number: 100
Enter a ending number: 0

In [16]:
for num in range(a,b+1):
    if (num%2==0):
        print(num)

In [17]:
for num2 in range(a,b+1):
    if(num2%2!=0):
        print(num2)

In [5]:
for value in range (-10,101,1):
    print(value)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [3]:
for num in range(10):
    for i in range(num):
        print (num, end="") 

    print("\n")

1

22

333

4444

55555

666666

7777777

88888888

999999999

In [6]:
for i in range(1,10):
    a = 1
    b = i-1
    print((9-i) * "  ", end=" ")
    for j in range(i):
        print(a, end=" ")
        a += 1
    for k in range(i-1):
        print(b, end=" ")
        b -= 1
    print("")

for x in range(1,9):
    c = 1
    print(x * "  ", end=" ")
    for y in range(9-x):
        print(c, end=" ")
        c += 1
    print("")

                 1
               1 2 1
             1 2 3 2 1
           1 2 3 4 3 2 1
         1 2 3 4 5 4 3 2 1
       1 2 3 4 5 6 5 4 3 2 1
     1 2 3 4 5 6 7 6 5 4 3 2 1
   1 2 3 4 5 6 7 8 7 6 5 4 3 2 1
 1 2 3 4 5 6 7 8 9 8 7 6 5 4 3 2 1
   1 2 3 4 5 6 7 8
     1 2 3 4 5 6 7
       1 2 3 4 5 6
         1 2 3 4 5
           1 2 3 4
             1 2 3
               1 2
                 1

In [10]:
for i in range(10):
    a = 0
    for j in range(10):
        print(a * i, end="\t")
        a += 1
    print("")

0	0	0	0	0	0	0	0	0	0
0	1	2	3	4	5	6	7	8	9
0	2	4	6	8	10	12	14	16	18
0	3	6	9	12	15	18	21	24	27
0	4	8	12	16	20	24	28	32	36
0	5	10	15	20	25	30	35	40	45
0	6	12	18	24	30	36	42	48	54
0	7	14	21	28	35	42	49	56	63
0	8	16	24	32	40	48	56	64	72
0	9	18	27	36	45	54	63	72	81

In [21]:
for a in range(99,0,-2):
     print(a)

99
97
95
93
91
89
87
85
83
81
79
77
75
73
71
69
67
65
63
61
59
57
55
53
51
49
47
45
43
41
39
37
35
33
31
29
27
25
23
21
19
17
15
13
11
9
7
5
3
1